html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* welcome page */
a {
    text-decoration: none;
}
/* navbar */
.nav h1 {
    font-size: 50px;
    margin-top: 5px;
    margin-left: 20px;
    position: absolute;
    text-decoration: none;
    text-shadow: 3px 3px 0px rgb(206, 206, 206);
    line-height: 50px;
}
.nav h1 a {
    color: black;
}
.nav-item a {
    color: rgb(68, 68, 68);
}
/* nav underline */
.underline {
    height: 3px;
    background-color: transparent;
	width: 0%;
    transition: ease 0.5s;
    box-shadow: 1px 1px 0px rgba(209, 209, 209, 0.85);
}
.nav-item:hover .underline {
    background-color: rgb(88, 88, 88);
	width: 100%;
}
.nav-item:hover a{
    color: rgb(57, 159, 255);
}
.active .underline {
    background-color: rgb(88, 88, 88);
    width: 100%;
    box-shadow: 1px 1px 0px rgba(209, 209, 209, 0.85);
}
.active a {
    /* color: rgb(0, 82, 107); */
    color: rgb(57, 159, 255);
}
@media only screen and (max-width: 422px) {
    .cover {
        background-image: url("cover-mini.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    .cover-box {
        position: relative;
        background: rgba(255, 255, 255, 0.85);
        padding: 2px 20px;
        border-radius: 8px;
        width: 85%;
        margin: auto;
        transform: translate(0%,85%);
        transition: 1s;
        box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
        line-height: 28px;
    }
    .cover h1 {
        font-size: 22px;
    }
    .cover h2 {
        margin-top: 30px;
        /* line-height: 5px; */
        font-size: 20px;
    }
    .cover p {
        font-size: 13px;
    }
    .cover li {
        font-size: 13px;
    }
    .list-1 {
        float: left;
        margin-right: 40px;
    }
    /* responsive navbar */
    .nav-item {
        visibility: hidden;
        position: absolute;
        width: 35%;
    }
    .top {
        margin-top: 100px;
    }
    .toggle .nav-item {
        visibility: visible;
        position: relative;
        margin-left: 10px;
    }
    .nav-icon {
        right: 30px;
        position: absolute;
        list-style: none;
        margin: 0;
        margin-left: 0px;
        padding: 0;
    }
    nav li {
        padding: 3px 0px;
        font-size: 25px;
        text-shadow: 2px 2px 0px rgba(212, 212, 212, 0.85);
    }
    nav ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .nav-item-clicked {
        visibility: visible;
    }
    .nav-icon {
        font-size: 35px;
    }
    .nav-icon:hover {
        cursor: pointer;
    }
    .nav-icon:hover i{
        color: white;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.85);
    }
    /* rhythmic images */
    .column {
        flex: 100%;
        max-width: 98%;
        margin-right: auto;
        margin-left: auto;
    }
    .cover-gallery i {
        font-size: 65px;
        position: absolute;
        bottom: 52vh;
        text-shadow: 2px 2px 10px rgba(0,0,0);
        width: 100%;
        text-align: center;
    }
    .cover-gallery {
        background-image: url("cover-rhythmic-mini.JPG");
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
    }
    .cover-gallery h1 {
        visibility: hidden;
    }
    .cover-awards {
        background-image: url("cover-awards.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 50vh;
        width: 100%;
    }
    .cover-awards h1 {
        visibility: hidden;
    }
    .cover-awards i {
        font-size: 65px;
        position: absolute;
        bottom: 52vh;
        text-shadow: 2px 2px 10px rgba(0,0,0);
        width: 100%;
        text-align: center;
    }
    .cover-academics {
        background-image: url("cover-activities.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 50vh;
        width: 100%;
    }
    .cover-academics h1 {
        visibility: hidden;
    }
    .cover-academics i {
        font-size: 65px;
        position: absolute;
        bottom: 52vh;
        text-shadow: 2px 2px 10px rgba(0,0,0);
        width: 100%;
        text-align: center;
    }
    /* math modeling */
    .activity-box .image {
        text-align: center;
    }
    .activity-box .image img{
        width: 100%;
        border-radius: 5px;
    }
    .title {
        text-align: center;
    }
}
@media only screen and (max-width: 800px) and (min-width: 422px) {
    .cover {
        background-image: url("cover-small.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    .cover-box {
        position: relative;
        background: rgba(255, 255, 255, 0.85);
        padding: 2px 20px;
        border-radius: 8px;
        width: 90%;
        margin: auto;
        transform: translate(0%,110%);
        transition: 1s;
        box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
        line-height: 28px;
    }
    .cover h1 {
        font-size: 22px;
    }
    .cover h2 {
        margin-top: 30px;
        /* line-height: 5px; */
        font-size: 20px;
    }
    .cover p {
        font-size: 13px;
    }
    .cover li {
        font-size: 13px;
    }
    .list-1 {
        float: left;
        margin-right: 40px;
    }
    /* responsive navbar */
    .nav-item {
        visibility: hidden;
        position: absolute;
        width: 20%;
    }
    .top {
        margin-top: 60px;
    }
    .toggle .nav-item {
        visibility: visible;
        position: relative;
        margin-left: 10px;
    }
    .nav-icon {
        right: 35px;
        position: absolute;
        list-style: none;
        margin: 0;
        margin-left: 0px;
        padding: 0;
    }
    nav li {
        padding: 3px 0px;
        font-size: 25px;
        text-shadow: 2px 2px 0px rgba(212, 212, 212, 0.85);
    }
    nav ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 93%;
    }
    .nav-item-clicked {
        visibility: visible;
    }
    .nav-icon {
        font-size: 35px;
    }
    .nav-icon:hover {
        cursor: pointer;
    }
    .nav-icon:hover i{
        color: white;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.85);
    }
    /* rhythmic images */
    .column {
        flex: 100%;
        max-width: 98%;
        margin-right: auto;
        margin-left: auto;
    }
    .cover-gallery i {
        font-size: 65px;
        position: absolute;
        bottom: 52vh;
        text-shadow: 2px 2px 10px rgba(0,0,0);
        width: 100%;
        text-align: center;
    }
    .cover-gallery h1 {
        visibility: hidden;
    }
    .cover-gallery {
        background-image: url("cover-rhythmic-mini.JPG");
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
    }
    .cover-awards {
        background-image: url("cover-awards.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 50vh;
        width: 100%;
    }
    .cover-awards h1 {
        visibility: hidden;
    }
    .cover-awards i {
        font-size: 65px;
        position: absolute;
        bottom: 52vh;
        text-shadow: 2px 2px 10px rgba(0,0,0);
        width: 100%;
        text-align: center;
    }
    .cover-academics {
        background-image: url("cover-activities.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 50vh;
        width: 100%;
    }
    .cover-academics h1 {
        visibility: hidden;
    }
    .cover-academics i {
        font-size: 65px;
        position: absolute;
        bottom: 52vh;
        text-shadow: 2px 2px 10px rgba(0,0,0);
        width: 100%;
        text-align: center;
    }
    /* math modeling */
    .activity-box .image {
        text-align: center;
    }
    .activity-box .image img{
        width: 98%;
        border-radius: 5px;
    }
    .title {
        text-align: center;
    }
}

@media only screen and (max-width: 1100px) and (min-width: 800px) {
    .cover {
        background-image: url("cover-medium.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    .cover-box {
        position: relative;
        background: rgba(255, 255, 255, 0.85);
        padding: 2px 20px;
        border-radius: 8px;
        width: 50%;
        margin: auto;
        transform: translate(30%,30%);
        transition: 1s;
        box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
        line-height: 28px;
    }
    .cover h1 {
        font-size: 25px;
    }
    .cover h2 {
        margin-top: 30px;
        line-height: 5px;
        font-size: 23px;
    }
    .cover p {
        font-size: 16px;
    }
    .cover li {
        font-size: 16px;
    }
    /* responsive navbar */
    .nav-item {
        visibility: hidden;
        position: absolute;
        width: 15%;
    }
    .top {
        margin-top: 60px;
    }
    .toggle .nav-item {
        visibility: visible;
        position: relative;
        margin-left: 10px;
    }
    .nav-icon {
        right: 40px;
        position: absolute;
        list-style: none;
        margin: 0;
        margin-left: 0px;
        padding: 0;
    }
    nav li {
        padding: 3px 0px;
        font-size: 25px;
        text-shadow: 2px 2px 0px rgba(212, 212, 212, 0.85);
    }
    nav ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 96%;
    }
    .nav-item-clicked {
        visibility: visible;
    }
    .nav-icon {
        font-size: 35px;
    }
    .nav-icon:hover {
        cursor: pointer;
    }
    .nav-icon i {
        text-shadow: 2px 2px 0px rgb(145, 202, 255);
    }
    .nav-icon:hover i{
        /* color: white; */
        color: rgb(96, 178, 255);
        text-shadow: 2px 2px 0px rgb(82, 82, 82);
        /* text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.85); */
    }
    /* rhythmic images */
    .column {
        flex: 50%;
        max-width: 48%;
        padding: 0px 4px;
        margin-right: auto;
        margin-left: auto;
    }
    .cover-gallery i {
        font-size: 65px;
        position: absolute;
        bottom: 32vh;
        text-shadow: 2px 2px 10px rgba(0,0,0);
        width: 100%;
        text-align: center;
    }
    .cover-gallery {
        background-image: url("cover-rhythmic.JPG");
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
        width: 100%;
    }
    .cover-awards {
        background-image: url("cover-awards.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 70vh;
        width: 100%;
    }
    .cover-awards i {
        font-size: 65px;
        position: absolute;
        bottom: 32vh;
        text-shadow: 2px 2px 10px rgba(0,0,0);
        width: 100%;
        text-align: center;
    }
    .cover-academics {
        background-image: url("cover-activities.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 70vh;
        width: 100%;
    }
    .cover-academics i {
        font-size: 65px;
        position: absolute;
        bottom: 32vh;
        text-shadow: 2px 2px 10px rgba(0,0,0);
        width: 100%;
        text-align: center;
    }
    /* math modeling */
    .activity-box .image {
        text-align: center;
    }
    .activity-box .image img{
        width: 98%;
        border-radius: 5px;
    }
    .title {
        text-align: center;
    }
}

@media only screen and (min-width: 1100px) {
    .cover {
        background-image: url("cover.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    .cover-box {
        position: relative;
        background: rgba(255, 255, 255, 0.85);
        padding: 2px 20px;
        border-radius: 8px;
        width: 40%;
        transform: translate(0%,30%);
        margin-left: 50%;
        transition: 1s;
        box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
    }
    /* responsive navbar */
    nav ul {
        right: 0px;
        position: absolute;
        list-style: none;
        margin: 0;
        margin-right: 10px;
        padding: 0;
    }
    nav li {
        padding: 20px 30px;
        margin: auto;
        font-size: 25px;
        float: left;
        text-shadow: 2px 2px 0px rgba(212, 212, 212, 0.85);
    }
    .nav-icon {
        visibility: hidden;
    }
    .nav-item {
        visibility: visible;
    }
    /* rhythmic images */
    .column {
        max-width: 24%;
        padding: 0 4px;
        flex: 25%;
        margin-right: auto;
        margin-left: auto;
    }
    .cover-gallery i {
        font-size: 65px;
        position: absolute;
        bottom: 20px;
        text-shadow: 2px 2px 10px rgba(0,0,0);
        width: 100%;
        text-align: center;
    }
    .cover-gallery {
        background-image: url("cover-rhythmic.JPG");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
    }
    .cover-awards {
        background-image: url("cover-awards.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
    }
    .cover-awards i {
        font-size: 65px;
        position: absolute;
        bottom: 20px;
        text-shadow: 2px 2px 10px rgba(0,0,0);
        width: 100%;
        text-align: center;
    }
    .cover-academics {
        background-image: url("cover-activities.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
    }
    .cover-academics i {
        font-size: 65px;
        position: absolute;
        bottom: 20px;
        text-shadow: 2px 2px 10px rgba(0,0,0);
        width: 100%;
        text-align: center;
    }
    /* math modeling */
    .math-modeling .container {
        width: 48%;
        margin-right: 2%;
        float: left;
    }
    .activity-box .image img{
        width: 50%;
        border-radius: 5px;
    }
    .girls-who-code .container {
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
        float: right;
        text-align: right;
    }
}

/* nav empty box */
.box {
    height: 60px;
}
.header h1 {
    font-size: 50px;
}
.description {
    text-align: center;
    margin: 0px 10%;
    padding-top: 10px;
}
/* rhythmic page */
.cover-gallery a {
    color: white;
}
/* headers */
.header {
    max-width: 55%;
    margin: auto;
}
.header h1 {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 15px;
    width: 90%;
    border-radius: 10px;
    padding: 0px 0px;
    text-shadow: 3px 3px 0px rgba(0, 82, 107,0.5);
    text-align: center;
}
.line {
    height: 3px;
    background: black;
    box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.85);
}

.container img{
    width: 100%;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    vertical-align: middle;
}

.container {
    padding-bottom: 10px;
    position: relative;
}

.container h1 {
    z-index: 1;
    color: black;
    visibility: hidden;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container:hover h1 {
    visibility: visible;
}

.container:hover img{
    opacity: 0.8;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
}

/* awards section */
.cover-awards a {
    color: white;
}
.body {
    margin-top: 60px;
    text-align: center;
}

/* activities section */
.cover-academics a {
    color: white;
}
.activities-page {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    max-width: 90%;
}
.activity-box {
    border: rgb(139, 139, 139) solid 1px;
    padding: 20px 10px 15px 15px;
    border-radius: 15px;
    box-shadow: 1px 1px 30px rgba(0,0,0,0.15);
}

/* highlighted text */
.highlight {
    background: rgba(0, 195, 255, 0.356);
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 35px;
    font-weight: bold;
}
.rhythmic-awards {
    margin: auto;
    border-radius: 15px;
    max-width: 60%;
    padding: 30px 25px 0px 0px;
    border: rgb(163, 163, 163) solid 2px;
}

.school-awards {
    margin: auto;
    border-radius: 15px;
    max-width: 50%;
    padding: 30px 25px 0px 0px;
    border: rgb(163, 163, 163) solid 2px;
}


/* footer */
.footer {
    text-align: center;
    line-height: 10px;
    background: rgba(224, 224, 224, 0.616);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.footer a {
    font-size: 35px;
    color: black;
    padding: 0px 5px;
}

.home {
    position: relative;
}

.portrait {
    border-radius: 50%;
    width: 100%;
}

.main-home {
    padding-top: 80px;
    margin: auto;
    max-width: 80%;
}

.image {
    width: 25%;
    float: left;
    text-align: center;
    color: rgb(59, 59, 59);
}

.image h3 {
    color: rgb(122, 122, 122);
}

.main-text {
    float: right;
    width: 70%;
    transition: ease 1s;
}