body {
    margin: 0;
    padding: 0;
    /* font-family: 'Inconsolata', monospace; */
    /* font-family: 'Antic Slab', serif; */
    font-family: 'Hind Madurai', sans-serif;


}

.cover {
    background-image: url("cover.jpg")  ;
    background-size: cover;
    height: 100vh;
}
.cover-box {
    position: relative;
    background: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 8px;
    /* width: 600px; */
    width: 40%;
    transform: translate(0%,30%);
    margin-left: 50%;
}

a {
    text-decoration: none;
}

.nav h1 {
    font-size: 50px;
    margin-top: 0px;
    margin-left: 10px;
    position: absolute;
    text-decoration: none;
}

.nav a {
    color: black;
}

.underline {
    height: 3px;
    background-color: transparent;
	width: 0%;
	transition: ease 0.5s;
}

nav li:hover .underline {
    background-color: rgb(33, 0, 59);
	width: 100%;
}

nav ul {
    right: 0px;
    position: absolute;
    list-style: none;
    margin: 0;
    margin-right: 10px;
    padding: 0;
}

nav li {
    padding: 12px 30px;
    margin: auto;
    font-size: 25px;
    float: left;
}

.test {
    height: 100vh;
}